{
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.py",
            "options": {
                "useTabs": false,
                "tabWidth": 4
            }
        }
    ]
}
